node_modules
log-tests.php
.npm-debug.log
tmp
.tags
.tags1
.DS_Store
vendor
/.vscode
workspace.code-workspace
/.idea

# Docker related data
data/

# Tests related data
tests/*
!tests/.valetphprc
!tests/readme.md
!tests/*.yml
!tests/*.php
!tests/_data
tests/_data/*
!tests/_data/.gitkeep
!tests/_data/Image 1.jpg
!tests/_data/Image 2.jpg
!tests/_data/mu-plugins
!tests/acceptance
!tests/functional
!tests/unit
!tests/phpstan
!tests/wpunit
!tests/_output
tests/_output/*
!tests/_output/.gitignore
!tests/_support
!tests/plugins
tests/plugins/*
!tests/plugins/.gitkeep

# Local environment files
db-export-*.sql
readme.branch.*.md
