* text=auto

/.wordpress-org/ export-ignore
/examples/ export-ignore
/tests/ export-ignore
/img/ export-ignore

/.distignore export-ignore
/.env.testing export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.nvmrc export-ignore
/.prettierrc export-ignore
/.stylelintrc export-ignore
/.typos.toml export-ignore
/.valetphprc export-ignore
/CHANGELOG.md export-ignore
/code.md export-ignore
/codeception.dist.yml export-ignore
/composer.lock export-ignore
/docker-compose.yml export-ignore
/gruntfile.js export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/rector.php export-ignore
