<?xml version="1.0"?>
<ruleset name="Simple-History">
	<description>WordPress Coding Standards for Simple History</description>
	<config name="testVersion" value="5.6-"/>

	<!-- Show progress while running -->
	<arg value="p"/>
	<!-- Show sniff codes in all reports -->
	<arg value="s"/>
	<!-- Show results with colors -->
	<arg name="colors"/>
	<!-- Don't show warnings -->
	<arg value="n"/>

	<!-- Check only PHP files -->
	<arg name="extensions" value="php"/>

	<!-- Process current dir by default-->
	<file>.</file>

	<!-- Exclude composer dir and similar -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/tests/wordpress-tests-stubs.php</exclude-pattern>

	<!-- 
		Info about customizable things:
	    https://github.com/WordPress/WordPress-Coding-Standards/wiki/Customizable-sniff-properties
		Also see example XML:
		https://github.com/WordPress/WordPress-Coding-Standards/blob/develop/phpcs.xml.dist.sample
	-->
	<config name="minimum_supported_wp_version" value="5.2"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase"/>
		<exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedFunctionFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedClassFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="simple-history"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="sh"/>
				<element value="simplehistory"/>
				<element value="simple_history"/>
			</property>
		</properties>
	</rule>

	<!-- Add this and fix when all other things are fixed.-->
	<!-- <rule ref="WordPress-Docs"/> -->

	<rule ref="WordPress.NamingConventions.ValidHookName">
		<properties>
			<property name="additionalWordDelimiters" value="-/"/>
			<!-- WordPress.NamingConventions.ValidHookName.NotLowercase -->
		</properties>
	</rule>

	<rule ref="PHPCompatibilityWP"/>

</ruleset>
