parameters:
  paths:
    - index.php
    - uninstall.php
    - dropins/
    - inc/
    - loggers/
    - templates/
  scanFiles:
    - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
  scanDirectories:
    - tests/plugins/
  bootstrapFiles:
    - tests/phpstan/bootstrap.php
  level: 2
