

.simple-history-ol-wrapper {
	margin-top: .75em;
}

.simple-history-filter {
	margin-bottom: .5em;
	margin-top: .5em;
	margin-right: 1em;
	display: inline-block;
}

ol.simple-history {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #DFDFDF;
}
#simple_history_dashboard_widget ol.simple-history {
	margin: 0 -10px;
}
ol.simple-history a {
	text-decoration: none;
}
ol.simple-history > li {
	margin: 0;
	padding: 10px 10px;
	position: relative;
	line-height: 1;
	border-top: 1px solid white;
	border-bottom: 1px solid #DFDFDF;
	background-color: #FCFCFC;
	min-height: 32px;
	/* min-height: 50px; */
	padding-left: 52px;
}
ol.simple-history > li:nth-child(odd) {
	background-color:  #F9F9F9;
}
ol.simple-history .first {
	font-size: 13px;
	/*font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;*/
	margin: 0 0 0.5em;
}

/* reverse background color order on wiget page so the light one is topmost */
#simple_history_dashboard_widget ol.simple-history > li {
	background-color:  #F9F9F9;
}
#simple_history_dashboard_widget ol.simple-history > li:nth-child(odd) {
	background-color: #FCFCFC;
}

ol.simple-history .second {
	color: #666;
	margin-top: .5em;
}

ol.simple-history .third {
	margin-top: .5em;
}
/*ol.simple-history .third ul {
	margin-top: .5em;
}
*/
.simple-history-who-avatar {
	position: absolute;
	top: 10px;
	left: 10px;
}

ol.simple-history .when {
	color: #999;
 	cursor: help;
 	border-bottom: 1px dotted #bbb;
}
ol.simple-history .when_detail {
	display: none;
	position: absolute;
	top: .4em;
	left: 5.5em;
	padding: .75ex;
	background-color: #fffdb5;
	border: 1px solid #eee;
	color: black;
	z-index: 1;
	box-shadow: 3px 3px 10px -3px rgba(0,0, 0, .25);
}


li.simple-history-has-attachment-thumnbail {
	/*min-height: 50px;*/
}
ol.simple-history .simple-history-has-attachment-thumnbail .first,
ol.simple-history .simple-history-has-attachment-thumnbail .second,
ol.simple-history .simple-history-has-attachment-thumnbail .third
 {
	/*margin-left: 60px;*/
}


.simple-history-object-image {
	margin: 1em 0 0 0;
	overflow: hidden;
}
.simple-history-object-image img {
	max-width: 80px;
	max-height: 60px;
}

.simple-history-attachment-thumbnail {
	float: left;
	margin-right: 1em;
	/*min-width: 60px;*/
}

.simple-history-attachment-meta {
	float: left;
	color: #666;
}

.simple-history-attachment-meta p {
	margin: 0 0 .5em 0;
}

.simple-history-item-description-wrap {
	margin: 0.5em 0;
}


.simple-history-item-description-toggler {
	border-left: 1px solid #bbb;
	padding-left: .75em;
	margin-left: .75em;
	line-height: 1;
}

.simple-history-item-description-toggler:before {
	/*content: "+ ";*/
}

.simple-history-action-description,
.simple-history-occasions-one-action-description {
	margin: .75em 0 .75em .5ex;
	line-height: 1.4;
	display: none;
	background-color: #eee;
	padding: .5em;
}

.simple-history-item-description-wrap-is-open .simple-history-item-description-toggler:before {
	/*content: "- ";*/
}

.simple-history-item-description-wrap-is-open .simple-history-action-description{
	display: block;
}

.simple-history-occasions-details-toggle {
	margin-left: .75em;
	padding-left: .75em;
	border-left: 1px solid #bbb;
}


.simple-history-occasions-one-description-is-open .simple-history-occasions-one-action-description {
	display: block;
	margin-left: 2em;
}


.simple-history-occasions-one-action-description {
	display: none;
}

.simple-history-occasions-details-toggle

.simple-history-title {
	font-weight: bold;
}

.simple-history-discrete {
	font-size: 11px;
	color: #999;
}

.simple-history-added-by-ajax {
	border-top: 1px solid #ddd;
}

ul.simple-history-occasions {
	margin: 1em 0 0 1em;
	padding: 0;
	list-style-type: none;
	color: #999;
}
ul.simple-history-occasions li {
	margin: .5em 0;
	padding: 0;
	line-height: 1.5;
}

.simple-history-rss-feed-dashboard {
	display: none;
}

#simple_history_dashboard_widget .simple-history-rss-feed-dashboard {
	position: absolute;
	bottom: 6px;
	right: 5px;
	margin: 0;
	display: block;
}

.simple-history-rss-feed-dashboard a,
.simple-history-rss-feed-page span {
	background: transparent url(./img/ui-icons_888888_256x240.png) no-repeat -17px -176px;
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -99999px;
	direction: ltr;
}

#simple_history_dashboard_widget .simple-history-rss-feed-page {
	display: none;
}

.dashboard_page_simple_history_page .wrap {
	position: relative;
}
.simple-history-rss-feed-page {
	display: block;
	position: absolute;
	right: 0;
	bottom: -3px;
}

.rtl .simple-history-rss-feed-page {
	right: auto;
	left: 0;
}

.simple-history-rss-feed-page span {
	float: left;
}

.simple-history-settings-page-updated {
	font-weight: bold;
	margin: 5px 0 15px;
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
}
.simple-history-settings-page-updated p {
	margin: 0.5em !important;
}
.simple-history-filter-search input[type=button] {
	cursor: pointer;
}

.simple-history-tablenav {
	visibility: hidden;
}
.simple-history-has-items .simple-history-tablenav {
	visibility: visible;
}

.simple-history-no-more-items {
	padding: .5em;
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
	font-weight: bold;
	display: none;
}

.simple-history-no-items-found .simple-history-no-more-items {
	display: block;
}

.simple-history-no-items-found  .simple-history-ol-wrapper {
	display: none;
}

.simple-history-tablenav .tablenav-pages {
	float: none;
}

.simple-history-tablenav .displaying-num {
	display: inline-block;
}


.simple-history-tablenav .tablenav-pages a {
	background: #eee;
	display: inline-block;
}

.simple-history-tablenav .tablenav-pages a:hover {
	background-color: #e4e4e4;
}

.simple-history-tablenav .tablenav-pages a span {
	background: transparent url(./img/ui-icons_888888_256x240.png) no-repeat -240px -48px;
	display: block;
	text-indent: -30px;
	line-height: 1;
	overflow: hidden;
	padding: 2px 9px;
}

.simple-history-tablenav .tablenav-pages a.disabled {
	opacity: .5;
}

.simple-history-tablenav .tablenav-pages .prev-page span {
	background-position: -96px -16px;
}

.simple-history-tablenav .tablenav-pages .next-page span {
	background-position: -32px -16px;
}

.simple-history-tablenav .tablenav-pages .last-page span {
	background-position: -208px -48px;
}


.simple-history-loading {
	position: absolute;
	top: 55%;
	left: 10%;
	opacity: 0;
}
#simple_history_dashboard_widget .simple-history-loading {
	left: 40%;
}
.simple-history-loading img {
	vertical-align: text-bottom;
}

.simple-history-is-loading {
	
}

/* show loading indicator after a short while */
.simple-history-is-loading .simple-history-loading {
	transition: all .25s ease-out;
	transition-delay: .75s;
	opacity: .75;
}

.simple-history-ol-wrapper {
	overflow: hidden;
}

.simple-history-ol-wrapper {
	/*overflow: visible;*/
}

.simple-history-wrap,
.simple-history-ol-wrapper,
ol.simple-history,
.simple-history-tablenav {
	transition: all .15s ease-out;
}

.simple-history-ol-wrapper {
	xtransition: max-height .15s ease-out;	
}

.simple-history-is-loading ol.simple-history {
	opacity: 0;
}
.simple-history-is-loading .simple-history-tablenav {
	opacity: .75;
}

.simple-history-wrap {
	visibility: hidden;
}

.simple-history-is-ready {
	visibility: visible;
}

.simple-fields-reload {
	-webkit-appearance: none;
	background: #f3f3f3;
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#fff), to(#f3f3f3));
	background-image: -webkit-linear-gradient(#fff, #f3f3f3);
	background-image: -moz-linear-gradient(#fff, #f3f3f3);
	background-image: -o-linear-gradient(#fff, #f3f3f3);
	background-image: linear-gradient(#fff, #f3f3f3);
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	    	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #fff;
			box-shadow: inset 0 1px 0 #fff;
	display: inline-block;
	padding: 5px 6px;
	text-indent: -9999px;
	margin-right: 1em;
	vertical-align: middle;
}
.simple-fields-reload:hover {
	background-color: #e4e4e4;
	border-color: #999;
}

.simple-fields-reload span {
	background: transparent url(./img/ui-icons_888888_256x240.png) no-repeat -64px -81px;
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -9999px;
	direction: ltr;	
	border: 0;
}
