
.simple-history-logitems {
	background: #fff;
	border: 1px solid rgb(229, 229, 229);
	max-width: 650px;
}

.simple-history-logitem {
	margin: 0;
	padding: 15px 15px 15px 11px;
	border-bottom: 1px solid rgb(229, 229, 229);
	border-left: 4px solid transparent;
}

/*
Style different log levels.
There is always a 4px left border, just with differents colors
 */
.simple-history-logitem--loglevel-warning {
	/*background-color: rgba(202, 172, 15, .1);*/
	border-left-color: rgb(202, 172, 15);
}

.simple-history-logitem--loglevel-error {
	/*background-color: rgba(194, 71, 71, .1);*/
	border-left-color: rgb(194, 71, 71);
}

.simple-history-logitem:hover {
	background: rgb(245, 248, 250); /* same bg color as twitter uses on hover */
}

.simple-history-logitem a {
	text-decoration: none;
}

.simple-history-logitem a:hover {
	text-decoration: underline;
}

.simple-history-logitem__firstcol {
	float: left;
}

.simple-history-logitem__senderImage {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	opacity: .8;
}

.simple-history-logitem:hover .simple-history-logitem__senderImage {
	opacity: 1;
}

.simple-history-logitem__senderImage img {
	display: block;
}

.simple-history-logitem__secondcol {
	margin-left: 50px;
}

.simple-history-logitem__header {
	line-height: 1;
	margin-top: 2px;
}

.simple-history-logitem__header time,
.simple-history-logitem__headerEmail
 {
	color: rgb(137, 143, 156);
}

.simple-history-logitem__text {
	margin-top: 0.4em;
}

.simple-history-logitem__text,
.simple-history-logitem__details,
.simple-history-logitem__details p {
	xfont-size: 16px;
	line-height: 1.4;
}

.simple-history-logitem__details p {
	margin-top: .4em;
	margin-bottom: .4em;
}

.simple-history-logitem__occasions {
	color: rgb(137, 143, 156);
	margin-top: 0.4em;
	line-height: 1;
}

.simple-history-logitem__details {
	margin-top: 0.4em;
}

/* wrap span.simple-history-logitem__inlineDivided around things that should have a bullet between them */
.simple-history-logitem__inlineDivided:before {
	/* \b7 = middot, \a0 = space */
	content: '\a0\b7\a0\a0';
	/* \2022 = bullet */
	/*content: '\a0\a0\2022\a0\a0';*/
	color: rgb(137, 143, 156);
}

.simple-history-logitem__inlineDivided:first-child:before {
	content: '';
}
/*
Styles for filter
*/
.simple-history-filters {
	float: right;
	width: 400px;
}
