.SimpleHistoryIpInfoDropin__popup {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	width: 350px;
	min-height: 200px;
	margin-left: -20px;
	margin-top: -5px;
	border: 1px solid #ccc;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	padding: 10px;
	z-index: 5;
	/* fade out then hide visibility */
	transition: visibility 0 0.25s, opacity 0.25s;
}

.SimpleHistoryIpInfoDropin__popup p {
	margin: 0;
}

.SimpleHistoryIpInfoDropin__popup.is-visible {
	visibility: visible;
	opacity: 1;
	/* make visible immediately and start opacity directly */
	transition: visibility 0, opacity 0.25s 0s;
}

.SimpleHistoryIpInfoDropin__popupArrow {
	position: absolute;
	background: #fff;
	border: none;
	top: 0;
	left: 40px;
}

.SimpleHistoryIpInfoDropin__popupArrow:after,
.SimpleHistoryIpInfoDropin__popupArrow:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.SimpleHistoryIpInfoDropin__popupArrow:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.SimpleHistoryIpInfoDropin__popupArrow:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}

.SimpleHistoryIpInfoDropin__ipInfoTable {
	width: 100%;
	border-collapse: collapse;
}

.SimpleHistoryIpInfoDropin__ipInfoTable th,
.SimpleHistoryIpInfoDropin__ipInfoTable td {
	vertical-align: top;
	text-align: left;
	padding: 5px 5px;
	border-top: 1px solid #eee;
}

.SimpleHistoryIpInfoDropin__ipInfoTable tr:first-of-type th,
.SimpleHistoryIpInfoDropin__ipInfoTable tr:first-of-type td {
	border-top: 0;
}

.SimpleHistoryIpInfoDropin__ipInfoTable__mapRow a {
	display: inline-block;
}

.SimpleHistoryIpInfoDropin__ipInfoTable__mapRow td {
	padding: 0;
}

.SimpleHistoryIpInfoDropin__provider {
	text-align: right;
	font-size: 12px;
	color: #888;
	margin-top: 0.5em !important;
}

.SimpleHistoryIpInfoDropin__popupClose {
	position: absolute;
	width: 21px;
	height: 20px;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 50%;
	top: 5px;
	right: 5px;
	line-height: 1;
	font-size: 20px;
	text-align: center;
}

.SimpleHistoryIpInfoDropin__popupCloseButton {
	padding: 0 5px;
	margin: 0;
	background: none;
	border: 0;
	line-height: 1;
	cursor: pointer;
}

.SimpleHistoryIpInfoDropin__popupCloseButton:hover {
	/* same color as wp popups close on hover */
	color: rgb(46, 162, 204);
}
