.SimpleHistoryDropin__NewRowsNotifier {
	max-height: 0;
	overflow: hidden;
	text-align: center;
	background: white;
	line-height: 40px;
	background: rgba(0, 255, 30, 0.15);
	-webkit-transition: max-height 0.5s ease-out, background 0s;
	transition: max-height 0.5s ease-out, background 0s;
}

.SimpleHistoryDropin__NewRowsNotifier--haveNewRows {
	max-height: 50px;
	cursor: pointer;
}

.SimpleHistoryDropin__NewRowsNotifier--haveNewRows:before {
	content: "\f463";
	font: 400 20px/1 dashicons;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
}

.SimpleHistoryDropin__NewRowsNotifier--haveNewRows:hover {
	/*text-decoration: underline;*/
	background: rgba(0, 255, 30, 0.5);
}

/* when there is a remote error or server down etc */
.SimpleHistoryDropin__NewRowsNotifier--haveErrorCheck {
	max-height: 50px;
	background: rgb(254, 247, 241);
}

.SimpleHistoryLogitem--newRowSinceReload {
	background: yellow;
	background: rgba(254, 255, 0, 0.1);
}
