@media only screen and (min-width: 960px) {
	.SimpleHistory__pageSidebar {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		width: 100%;
		padding-left: 1rem;
	}
}

.SimpleHistory__pageSidebar .inside {
	margin-bottom: 0;
}

.SimpleHistory__pageSidebar .metabox-holder {
	padding-top: 0 !important;
}

.SimpleHistory__pageSidebar .postbox .hndle {
	cursor: auto;
}
