body,
* {
	outline: 2px solid pink;
}

/* .ab-sub-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	background: #23282d;
	padding: 5px 0;
	border: 1px solid #000;
}

.ab-submenu-item {
	padding: 0 20px;
	line-height: 28px;
}

.ab-submenu-item a {
	color: #ccc;
	text-decoration: none;
}

.ab-submenu-item a:hover {
	color: #fff;
} */
