name: Deploy Tag to WordPress.org
on:
  push:
    tags:
      # Semver (https://semver.org/) release pattern.
      - "[0-9]+.[0-9]+.[0-9]+*"
jobs:
  tag:
    name: Deploy Tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: WordPress.org Plugin Deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
